#table_chat {
	width: 80%;
	height: 100%;
	border: 1px solid black;
	float:right;
}
#table_chat .header {
	height: 2em;
}
#table_chat td {
	vertical-align: top;
}

#table_events {
	width: 20%;
	float:left;
}

.you {
	color: blue;
	font-weight: bold;
}
.stranger {
	color: red;
	font-weight: bold;
}
.system {
	color: grey;
	font-weight: bold;
}

.blue {
	font-weight:bold;
	color: blue;
}
.red {
	font-weight:bold;
	color: red;
}
.green {
	font-weight:bold;
	color: green;
}
